
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

p {
    margin-top: 10px;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#data {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

#result {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

#cartable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#cartable th, #cartable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#cartable th {
    background-color: #f2f2f2;
}
#button-container {
    text-align: center;

}

#button-container button {
    margin-right: 10px;
    display: inline-block;
}

